{% extends "template.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class = 'row'>
    <div id = "successAdd"> </div>
</div>
<div class = 'row'> 
    <input id='new_name' size = '32' placeholder = 'Enter Cafe Name'> 
</div>
<div class = 'row'> 
    <input id='new_website' size = '32' placeholder = 'Enter Cafe Website'>
</div>
<div class = 'row'> 
    <input id='new_logo' size = '32' placeholder = 'Enter Cafe Logo Link'>
</div>
<div class = 'row'> 
    <input id='new_location' size = '32' placeholder = 'Enter Cafe Location'>
</div>
<div class = 'row'> 
    <input id='new_rating' size = '32' placeholder = 'Enter Cafe Rating'>
</div>
<div class = 'row'> 
    <input id='new_about' size = '32' placeholder = 'Enter Cafe About Info'>
</div>
<div class = 'row'> 
    <button id ='Submit_New' class = 'btn btn-danger'> Add New Cafe </button>
</div>
{% endblock %}

